$header_color: rgb(194, 164, 107);

body {
	background-color: #333;
	color: #ccc;
	font-family: sans-serif;
	padding: 0 1rem;

	h1 {
		color: rgb(209, 168, 85);
	}

	nav {
		background-color: #222;
		padding: .5rem;

		a {
			color: #aaa;
			text-decoration: none;
			margin-right: 1rem;
		}

		a.active {
			color: rgb(211, 211, 110);
		}
	}

	.pageBooks {
		p {
			font-size: 1.4rem;

			strong {
				color: $header_color;
			}
		}


		button {
			box-shadow: inset 0px 0px 14px -3px #f2fadc;
			background: linear-gradient(to bottom, #dbe6c4 5%, #9ba892 100%);
			background-color: #dbe6c4;
			border-radius: 6px;
			border: 1px solid #b2b8ad;
			display: inline-block;
			cursor: pointer;
			color: #3d3f3c;
			font-family: Arial;
			font-size: 15px;
			font-weight: bold;
			padding: 6px 24px;
			text-decoration: none;
			text-shadow: 0px 1px 0px #ced9bf;
		}

		button:hover {
			background: linear-gradient(to bottom, #9ba892 5%, #dbe6c4 100%);
			background-color: #9ba892;
		}

		button:active {
			position: relative;
			top: 1px;
		}

		.addBookArea {
			margin-bottom: 1rem;
		}

		.books {
			.book {
				background-color: #222;
				margin-bottom: 1rem;
				padding: 1.5rem;
				display: flex;
				gap: 1rem;
				align-items: start;
				width: 50rem;

				img {
					width: 7rem;
					object-fit: contain;
				}

				.info {
					.title {
						font-size: 1.3rem;
						margin-bottom: .5rem;
					}

					a {
						color: rgb(209, 161, 71);
					}

					.description {
						font-style: italic;
						margin-bottom: .5rem;
					}

					.language {
						color: rgb(212, 212, 140);
					}

					.buttonArea {
						margin-top: 1rem;
						button {
							margin-right: .5rem;
						}
					}
				}
			}
		}
	}


}